/*-------------- Other rules --------------*/
* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
* button:hover {
  opacity: 0.8;
  cursor: pointer;
}
body {
  width: 100%;
}

/* *********************************** */
/*-------------- HEADER --------------*/
/* ********************************** */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 20px 10px;
}
.left-header {
  display: flex;
  align-items: center;
}
.left-header input {
  padding: 10px 200px 10px 10px;
  margin: 0 20px;
}
.logo {
  height: 50px;
  object-fit: cover;
  margin: 0 100px 0 200px;
}
header div button {
  margin-right: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #0aaeb7;
  color: white;
}
header div button:hover {
  cursor: pointer;
}

.right-header {
  margin-right: 200px;
}
.header-button {
  color: #0aaeb7;
  background-color: white;
  border: #0aaeb7 1px solid;
}

/****** FILTER PARTS ******/

.filter {
  display: flex;
  flex-direction: column;
}
.filter input {
  margin-bottom: 10px;
}
.searchBar {
  background-color: #f5f6f7;
  border: none;
}
/****** UNDER-FILTER PARTS ******/
.under-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trie,
.priceRange {
  font-size: 16px;
}
.priceRange {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.priceRange span {
  margin-left: 50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0aadb7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0aadb7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0aadb7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*****-----**** MODAL (START) ****-----*****/
/* *****-----**** //////// *****-----**** */

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.modal .form {
  width: 480px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.modal .form input:not([type="checkbox"]) {
  width: 260px;
  font-size: 16px;
  padding: 10px 10px;
  margin-bottom: 30px;
  font-family: inherit;
  border: solid black 2px;
  border-radius: 10px;
}
.modal .form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.form p {
  width: 380px;
  font-size: 14px;
  margin-left: 25px;
}
.exit {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 24px;
  padding: 5px 5px;
}
.exit:hover {
  cursor: pointer;
  opacity: 0.7;
}
.switch {
  color: #2db0ba;
}
.switch:hover {
  cursor: pointer;
  opacity: 0.8;
}
.modal .form input[type="submit"] {
  color: white;
  width: 200px;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #2db0ba;
}

.modal .form input[type="submit"]:hover {
  cursor: pointer;
}
.display-modal {
  display: inherit;
}
.disconnect {
  background-color: #c2165a;
  color: white;
}
/*****-----**** MODAL (END) ****-----*****/

/* ----------------------------------- */
/*-------------- TITRES --------------*/
/* ----------------------------------- */

h2 {
  font-weight: 400;
  font-size: 24px;
  width: 180px;
}

/* ----------------------------------- */
/* --------------  MAIN  -------------- */
/* ----------------------------------- */

/* ********************************* */
/*************** HERO ***************/

.contain-hero {
  height: 400px;
  position: relative;
}
.contain-hero img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.hero1 img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
.hero2 {
  width: 400px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 75px;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.but-1,
.but-2 {
  padding: 5px 20px;
  margin: 5px 5px;
  border-radius: 5px;
}
.but-1 {
  background-color: #0aaeb7;
  color: white;
  border: none;
}
.but-2 {
  color: #0aaeb7;
  background-color: white;
  border: 1px solid #0aaeb7;
}

/* ------------------------------------- */
/* ---------------  HOME  ------------- */
/* ------------------------------------- */

.container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.offer {
  margin: 20px 20px;
}
.offer:hover {
  opacity: 0.7;
}

.offer img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.offer-detail {
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
}

.user {
  color: lightgray;
}

/* ------------------------------------- */
/* --------------  OFFER  -------------- */
/* ------------------------------------- */

.price {
  font-size: 20px;
  text-align: center;
}

.contain-offer {
  display: flex;
  justify-content: space-evenly;
  background-color: #ebedee;
  width: 100%;
  height: 850px;
}
.contain-offer img {
  height: 600px;
  object-fit: cover;
}
.contain-offer img,
.contain-offer .details {
  margin-top: 50px;
}

.details {
  background-color: white;
  width: 400px;
  height: 600px;
  padding: 10px 30px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.infos {
  border-top: gray solid 1px;
}
.info {
  padding: 5px 5px;
  margin: 20px 20px;
}
.price {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
}
.spans {
  display: flex;
  justify-content: space-between;
}

.span1 {
  color: #adadad;
  padding-right: 80px;
}
.infos button {
  padding: 5px 80px;
  margin: 10px 50px;
  background-color: #0aaeb7;
  color: white;
  border-radius: 5px;
  border: none;
}

/*----- ********************* -----*/
/*-----* route for fun (404) *-----*/
/*----- ********************* -----*/

.ERROR {
  font-size: 50px;
  background-image: url(https://www.techcroute.com/wp-content/uploads/2018/02/bombe_atomique.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  position: relative;
}
.ERROR img {
  width: 200px;
}
.err {
  height: 600px;
}
.err,
.err2,
.err2 span,
.err span {
  color: white;
}
.err {
  position: absolute;
  top: 10%;
  right: 35%;
  font-size: 100px;
  opacity: 0.7;
}
.err2 span,
.err span {
  font-style: italic;
}
.err2 {
  position: absolute;
  bottom: 30px;
  right: 25%;
}
.err3 {
  color: yellow;
}
